<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>#dailyui 009: Music Player</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700'>

  <link rel="stylesheet" href="css/style.css">


</head>

<body ng-app="musicApp">
  <main class='pre-enter' ontouchstart>
    <div class='background'>
      <div></div>
    </div>
    <div class='container' ng-controller="mainCtrl">
      <div class='player'>
        <div class='back'>
          <header>
            <h1>
              <a>&lsaquo;</a>
            </h1>
            <h1>Up Next</h1>
          </header>
          <ol>
            <li ng-repeat="musica in listaMusica">
              <a>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/345377/obedear.jpg'>
                <div>
                  <h3>{{musica.nombre}}</h3>
                  <h4>{{musica.artista}}</h4>
                </div>
              </a>
              <hr>
            </li>
            <li>
              <a>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/345377/ida.jpg'>
                <div>
                  <h3>Ida's Theme</h3>
                  <h4>Grigori</h4>
                </div>
              </a>
            </li>
          </ol>
        </div>
        <div class='front'>
          <img class='art' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/345377/thousand-thursday%402x.jpg'>
          <div class='bar'>
            <hr>
          </div>
          <div class='meta'>
            <time>
              <span>1:29</span>
              <span>2:58</span>
            </time>
            <div class='controls top'>
              <a class='rewind skip'>
                <svg viewBox='0 0 36 20'>
                  <path d='M1.69813738,11.0254725 C0.75331072,10.4595484 0.761328762,9.53720142 1.69813738,8.97607983 L16.2885768,0.236823587 C17.2334034,-0.329100579 17.9993368,0.11180583 17.9993368,1.20339155 L17.9993368,18.7981608 C17.9993368,19.8979057 17.2253854,20.3258504 16.2885768,19.7647288 L1.69813738,11.0254725 Z'></path>
                  <path d='M19.6988006,8.97607983 C18.7539739,9.542004 18.761992,10.4643509 19.6988006,11.0254725 L34.28924,19.7647288 C35.2340667,20.3306529 36,19.8897465 36,18.7981608 L36,1.20339155 C36,0.103646637 35.2260486,-0.324298001 34.28924,0.236823587 L19.6988006,8.97607983 Z'></path>
                </svg>
              </a>
              <a class='play'>
                <svg viewBox='0 0 36 42'>
                  <path d='M35.26504,19.9918476 C36.223232,20.5486348 36.2272024,21.4490581 35.26504,22.0081524 L1.73495997,41.4918476 C0.776768039,42.0486348 0,41.6018839 0,40.4980004 L0,1.50199958 C0,0.396325744 0.772797585,-0.0509419441 1.73495997,0.508152418 L35.26504,19.9918476 Z'></path>
                </svg>
              </a>
              <a class='forward skip'>
                <svg viewBox='0 0 36 20'>
                  <path d='M34.3018626,8.97607983 C35.2466893,9.542004 35.2386712,10.4643509 34.3018626,11.0254725 L19.7114232,19.7647288 C18.7665966,20.3306529 18.0006632,19.8897465 18.0006632,18.7981608 L18.0006632,1.20339155 C18.0006632,0.103646637 18.7746146,-0.324298001 19.7114232,0.236823587 L34.3018626,8.97607983 Z'></path>
                  <path d='M16.3011994,8.97607983 C17.2460261,9.542004 17.238008,10.4643509 16.3011994,11.0254725 L1.71075999,19.7647288 C0.765933339,20.3306529 0,19.8897465 0,18.7981608 L0,1.20339155 C0,0.103646637 0.773951381,-0.324298001 1.71075999,0.236823587 L16.3011994,8.97607983 Z'></path>
                </svg>
              </a>
            </div>
            <div class='info'>
              <h1>Solid Gold (ft. MNDR) {{hola}}</h1>
              <h2>Michna - Thousand Thursday</h2>
              <p>
                <br>
                <input type="text" ng-model="hola">
              </p>
            </div>
            <div class='controls bottom'>
              <a>
                <svg viewBox='0 0 24 20'>
                  <path d='M13.2373287,1.79729532 C15.7059873,-0.59131555 19.6719532,-0.59131555 22.1445244,1.80184551 C24.6188818,4.21700618 24.6188818,8.1293472 22.1428711,10.5355725 L12.713653,19.7107814 C12.3197664,20.0940573 11.6860418,20.0986738 11.2878246,19.7110025 L1.8660259,10.5387159 C-0.621617914,8.13135849 -0.621617914,4.21556839 1.86368241,1.79993513 C3.07278074,0.634789609 4.67258351,0 6.32148154,0 C7.96903306,0 9.56085834,0.633814887 10.7729901,1.80153767 L12.0029801,3.00139253 L13.2373287,1.79729532 Z M20.041022,8.41556527 C21.3200493,7.17258662 21.3200493,5.16867425 20.0431981,3.922352 C18.7408346,2.66182552 16.6367424,2.66182552 15.3381723,3.91827146 L12.7184593,6.47380052 C12.3233088,6.85926968 11.6838285,6.86042189 11.2807479,6.46721195 L8.67450711,3.9247929 C8.03187321,3.30572487 7.19151346,2.97111997 6.32148154,2.97111997 C5.4489221,2.97111997 4.60106916,3.30754159 3.96039524,3.92491574 C2.67871929,5.17068349 2.67871929,7.17114678 3.96586581,8.41676109 L12.00095,16.2390493 L20.041022,8.41556527 Z'></path>
                </svg>
              </a>
              <a>
                <svg viewBox='0 0 24 20'>
                  <path d='M10.1639425,10 L5.222766,17 L1.00700182,17 C0.450850071,17 0,17.4426603 0,17.9989566 L0,19.0010434 C0,19.5527519 0.45097518,20 0.990777969,20 L6,20 C6.4873848,20 6.94438517,19.7632025 7.22545179,19.3650248 L12,12.6010815 L16.7745482,19.3650248 C17.0556148,19.7632025 17.5126152,20 18,20 L23.009222,20 C23.5564136,20 24,19.5573397 24,19.0010434 L24,17.9989566 C24,17.4472481 23.5547099,17 22.9929982,17 L18.777234,17 L13.8360575,10 L18.777234,3 L22.9929982,3 C23.5491499,3 24,2.55733967 24,2.00104344 L24,0.998956561 C24,0.447248087 23.5490248,0 23.009222,0 L18,0 C17.5126152,0 17.0556148,0.236797487 16.7745482,0.634975204 L12,7.39891849 L7.22545179,0.634975204 C6.94438517,0.236797487 6.4873848,0 6,0 L0.990777969,0 C0.443586406,0 0,0.442660332 0,0.998956561 L0,2.00104344 C0,2.55275191 0.445290091,3 1.00700182,3 L5.222766,3 L10.1639425,10 Z'></path>
                </svg>
              </a>
              <a>
                <svg viewBox='0 0 24 20'>
                  <path d='M18,2.00104344 C18,2.55275191 18.4426603,3 18.9989566,3 L21,3 L21,17 L3,17 L3,3 L11.0024554,3 C11.553384,3 12,2.55733967 12,2.00104344 L12,0.998956561 C12,0.447248087 11.544239,5.68434189e-14 10.9975267,5.68434189e-14 L1.00247329,5.68434189e-14 C0.448822582,5.68434189e-14 0,0.455305576 0,0.99180311 L0,19.0081969 C0,19.5559546 0.44746922,20 1.00069463,20 L22.9993054,20 C23.5519738,20 24,19.5446944 24,19.0081969 L24,0.99180311 C24,0.444045377 23.5490248,9.4128217e-14 23.009222,9.05011945e-14 L18.990778,6.35006168e-14 C18.4435864,5.98239479e-14 18,0.442660332 18,0.998956561 L18,2.00104344 Z'></path>
                </svg>
              </a>
              <a class='flip'>
                <svg viewBox='0 0 24 20'>
                  <rect height='3' rx='1' width='3'></rect>
                  <rect height='3' rx='1' width='18' x='6'></rect>
                  <rect height='3' rx='1' width='18' x='6' y='8.5'></rect>
                  <rect height='3' rx='1' width='18' x='6' y='17'></rect>
                  <rect height='3' rx='1' width='3' y='8.5'></rect>
                  <rect height='3' rx='1' width='3' y='17'></rect>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src="js/index.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/service.js"></script>
</body>
</html>
